$completo: 100%;
$altura: 5vh;
$dist: flex;
$distNav: space-around;
$colorExtremos: coral;
$colorLetraNav: green;
$fuenteUno: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$fuenteDos: Verdana, Geneva, Tahoma, sans-serif;
$centrar: center;
$PocoEm: 1em;
$MedioEm: 2em;
$MuchoEm: 4em;
$vacio: none;
