header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: coral;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  flex-wrap: wrap; }

header a {
  font-size: 2em;
  text-decoration: none;
  color: green; }

section h1 {
  text-align: center;
  font-size: 4em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; }

section p {
  margin: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

footer {
  margin-top: 2em;
  width: 100%;
  height: 5vh;
  text-align: center;
  background-color: coral;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
